

@media (min-width: 576px){
  .container {
    max-width: 546px;
}
}

@media (min-width: 768px){
  .container {
    max-width: 738px;
}
}

@media (min-width: 992px){
  .container {
    max-width: 962px;
}
}

@media (min-width: 1200px){
  .container {
    max-width: 1170px;
}
}




@media (max-width: 992px){
.home_banner h2{
  font-size: 30px;
}
.home_banner .my_card h3{
  font-size: 20px;
}
.btn.btn-xl{
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 10px;
}
}
@media (max-width: 768px){
  .footer_links{
    margin-top: 30px;
  }
  .footer_links h4{
    margin-bottom: 10px;
  }
  
.crv_banner_bg::after,
.crv_banner_bg::before{
  display: none;
}
}